<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Submitted Details</h2>
    <p><strong>Name:</strong> <%= firstname %> <%= lastname %></p>
    <p>Date of Birth: <%= date %>-<%= month %>-<%= year %></p>
    <p><strong>Gender:</strong> <%= gender %></p>
    <br />
    <a href="/">Download PDF</a>
    <a href="/">Go Back</a>
  </body>
</html>
